.mainParent{
    margin-top:200px;
    display: flex;
    flex-direction: column;
    gap:120px;
    align-items: center;
    justify-content: center;
    width: 100%;
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:30px;
        text-align: center;
        width: 100%;
        h1{
            font-size:60px;
        }
    }
    .howParty{
        display: flex;
        gap:5px;
        .partySize{
            gap:85px;
            width:100%;
            display: flex;
            flex-direction: row;
            
            .selectttMain{
                display: flex;
                flex-direction: column;
                .selecttt{
                    padding:0px 35px;
                }

        }
        .dateMain{
            display: flex;
            flex-direction: column;
        }
        .timeMain{
            display: flex;
            flex-direction: column;
            .selectttt{
                padding:0px 35px;

            }
        }
        }
        
    }
}
.whenParty{
    display: flex;
    flex-direction: column;


    .checksInWhenParty{
        .myDivForChecks{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            gap:10px; 
            padding:10px;
            width:80%l;
            label{
                color: black !important;
                border: 1px solid black ;
                border-radius: 0px;
                padding: 5px 30px
            }
            input:checked + label{
                background-color:white ;
                border:none;
                
            }
    }
}
}


.buttonMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
.buttonReservee{
    background-color: #EF4B4D;
    border:#EF4B4D solid 3px;
    color:white;
    padding:5px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.buttonReservee:hover{
    background-color: #571614;
    border:#571614 ;
    border-radius: 5px;
    transition:0.3s
}
}




.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top:40%;
    left:15px;
    z-index: 10;
}
.socials i{
    font-size:40px;
    color:#EF4B4D;
}



@media screen and ( max-width:660px ) {
    .partySize{
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
    }
}
@media screen and ( max-width:530px ) {
    .myDivForChecks{
        display: grid;
        grid-template-columns: auto auto auto   !important;
        gap:10px; 
    }
}


