@media screen and (max-width: 790px) {
    .menuForTacos{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        padding-bottom:40px;
    }
        .menuForCocktails{
            display: flex;
            flex-wrap:wrap;
            gap:20px;
            padding-bottom:40px;
    }
    

}
@media  screen and (max-width:860px) {
    

    .burgerMenuParent{
        display: flex;
        width:100%;
        justify-content: end;
        padding-top:5px;
        padding-right:25px;
    }
    .burgerMenu{
        display: flex;
        flex-direction: column;
        position: fixed;
        gap:10px;
        z-index: 101;
        color:#EF4B4D;
        width:70px;
        height:50px;
    }
    .burgerLine{
        height: 8px;
        background-color: #EF4B4D;
        border-radius: 10px;
    }
    nav > ul{
        display: none;
    }
    .muchachos > a{
        color: #EF4B4D;
        display: none;
    }
    .muchachos > h1{
        font-size:35px;
        margin-right: auto;
        padding-left:15px;
    }
    .logIn{
        color:#ef4b4e;
        padding-right: 10px;
        display: none;
    }
}


.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top:40%;
    left:15px;
    z-index: 10;
}
.socials i{
    font-size:40px;
    color:#EF4B4D;
}